/* Resetting some default styles */
body, h1, h2, h3, p, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Sidebar styles */
div#sidebar {
    width: 250px;
    height: 100%;
    background-color: #2ecc71;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

div#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

div#sidebar a:hover {
    background-color: #27ae60;
}

/* Content styles */
div#content {
    margin-left: 8em; /* Adjusted to match the sidebar width */
    padding: 20px;
    background-color: white;
    align-self: center;
}

/* Heading styles */
div.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Align items vertically in the center */
}

h2 {
    color: #333;
    margin: 0; /* Remove default margin to prevent unwanted spacing */
}

h2 {
    margin-bottom: 20px;
}

/* Section styles */
section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
}

/* Button styles */
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #45a049;
}

/* Form styles */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Add Chore Button styles */
#add-chore-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-chore-btn:hover {
    background-color: #45a049;
}

/* Edit and Delete icons styles */
.edit-icon, .delete-icon {
    width: 30px;
    height: 30px;
}
